[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "21.2.0"
doit = "*"
graphlib = "*"
jinja2 = "<3.0"
jsonpickle = "*"
makefun = "*"
markupsafe = "<2.0"
PyYAML = "*"
exam-gen = {editable = true, path = "."}

[dev-packages]
coloredlogs = "*"
setuptools = "*"
flake8 = "*"
isort = "*"
mkdocs = "*"
mkdocs-localsearch = "*"
mkdocs-macros-plugin = "*"
mkdocs-material = "*"
mkdocstrings = "*"
pymdown-extensions = "*"
pytest = "*"
pytest-cov = "*"
pipenv-setup = "*"

[console_scripts]
exam-gen = "exam_gen.build.cli:main"

[requires]
python_version = "3.9"
