[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
graphlib = "*"
pep517 = "*"
setuptools = "*"
makefun = "*"

[dev-packages]
coloredlogs = "*"
flake8 = "*"
isort = "*"
mkdocs = "*"
mkdocs-localsearch = "*"
mkdocs-material = "*"
mkdocstrings = "*"
pymdown-extensions = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[packages.attrs]
git = "https://github.com/python-attrs/attrs.git"
editable = true
