[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
graphlib = "*"
pep517 = "*"
makefun = "*"
doit = "*"
attrs = "*"
jsonpickle = "*"
jinja2 = "<3.0"
markupsafe = "<2.0"

[dev-packages]
coloredlogs = "*"
setuptools = "*"
flake8 = "*"
isort = "*"
mkdocs = "*"
mkdocs-localsearch = "*"
mkdocs-material = "*"
mkdocstrings = "*"
pymdown-extensions = "*"
pytest = "*"
pytest-cov = "*"
pipenv-setup = "*"

[console_scripts]
exam-gen = "exam_gen.cli:main"

[requires]
python_version = "3.9"
